* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.nav {
    color: white;
    width: 100%;
    height : 50px;
    background-color: black;
}

.heading {
    color : white;
    position: absolute;
    left: 20px;
    top: 16px;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
}

.heading1 {
    position: absolute;
    /* width: 600px; */
    /* height: 144px; */
    left: 20px;
    top: 80px;

    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
}
.div{
position: absolute;
/* width: 1624px;
height: 546px; */
left: 20px;
top: 150px;
right: 20px;
}

button {
    background-color: black;
    color: aliceblue;
    position: absolute;
width: 120px;
height: 40px;
}

.heading2 {
    position: absolute;
/* width: 600px;
height: 144px; */
/* left: 20px; */
top: 230px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
/* line-height: 77px; */

color: #000000;
}

.image {
    position: absolute;
    left: 20px;
    top: 450px;
    width: 500px;
    height: 300px;
}

.ol {
position: absolute;
/* width: 600px;
height: 144px; */
left: 20px;
top: 790px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
/* line-height: 77px; */

color: #000000;

}
 .ol1 {
    position: absolute;
    left: 20px;
    top: 50px;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
/* line-height: 29px; */

color: #000000;
 }

 .ul {
    position: absolute;
/* width: 600px;
height: 144px; */
left: 20px;
top: 970px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
/* line-height: 77px; */

color: #000000;
 }

.ul1 {
position: absolute;
    left: 20px;
    top: 50px;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
}